<%= simple_form_for(book_wish) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :book_url %>
    <%= f.input :price_rub, label: 'Цена (примерно)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
