<h1>Книжные хотелки</h1>
<h4 class="text-muted">(на твоем хотельном счету осталось <strong><%= @balance %></strong> убитых енотов)</h2>
<br>
<table class='table'>
  <thead>
    <tr>
      <th>Книга</th>
      <th>Цена</th>
      <th>Принято в обработку?</th>
      <th>Готово?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_wishes.each do |book_wish| %>
      <tr>
        <td><%= link_to book_wish.title, book_wish.book_url %></td>
        <td><%= book_wish.price_rub %></td>
        <td><%= book_wish.applied %></td>
        <td><%= book_wish.performed %></td>
        <% if book_wish.in_process? %>
          <td></td>
          <td></td>
        <% else %>
          <td><%= link_to 'Изменить', edit_book_wish_path(book_wish) %></td>
          <td><%= link_to 'Удалить', book_wish, method: :delete, data: { confirm: 'Ты хорошо подумал?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Еще одну хочу!', new_book_wish_path, class: 'btn btn-primary' %>
