<!DOCTYPE html>
<html>
  <head>
    <title>Славе 45!!!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><%= link_to 'Твои книжные хотелки', book_wishes_path %></li>
            <li role="presentation"><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
        <h3 class="text-muted"><%= link_to 'Заглавная страница', root_path %></h3>
      </div>

      <div class="alert-flashed">
        <%- flash.each do |name, msg| %>
          <%- errors_keys = ['error', 'alert'] %>
          <%= content_tag :div, class: "alert alert-#{ errors_keys.include?(name) ? "danger" : "success" } alert-dismissable alert-flash", role: "alert"  do %>
            <button class="close" type="button" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= msg %>
          <% end %>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
